body {
    margin: 0;
    font-family: 'Manrope', sans-serif;
}
main {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
button {
    font-family: 'Manrope', sans-serif;
}
.initial-button {
    height: 200px;
    width: 400px;
    margin: 20px;
    background-color: rgb(212, 144, 144);
}
.initial-button:hover {
    background-color: rgb(216, 176, 176);
} 
h1 {
    font-size: 50px;
}
h2 {
    font-size: 40px;
}
h3 {
    margin: 0;
}
.workout-button {
    height: 150px;
    width: 300px;
    margin: 10px;
    background-color: rgb(212, 144, 144);
}
.workout-button:hover {
    background-color: rgb(216, 176, 176);
}
h3 {
    font-size: 30px;
}
.exercises {
    font-size: 30px;
    text-align: left;
    padding: 5px
}